{% extends 'base.html' %}
{% block title %}
文化历史
{% endblock %}
{% block style %}
body{
            background-image: url({{url_for('static',filename="image/bgrenwen.jpg")}});
            background-repeat:no-repeat;
            background-size:cover;
            background-attachment: fixed;
        }
    #div{
		position:absolute;
        top:600px;
        width:100%;
	}
	#shipin{
		position:absolute;
        top:560px;
        left:900px;
        width:100%;
	}
	#img1{
		position:absolute;
        left:155px;
        top:160px;
        opacity:0.3;
	}
	#img2{
		position:absolute;
        left:330px;
        top:215px;
        opacity:0.3;
	}
	#img3{
		position:absolute;
        left:550px;
        top:240px;
        opacity:0.4;
	}
	#img4{
		position:absolute;
        left:770px;
        top:120px;
        opacity:0.5;
	}
{% endblock %}
{% block body %}
    <div><a href="{{ url_for('qinhan') }}"><img src="{{ url_for('static',filename='image/trqinhan.png') }}" width="200px" height="200px" id="img1"></a></div>
    <div><a href="{{ url_for('suitang') }}"><img src="{{ url_for('static',filename='image/trsuitang.png') }}" width="230px" height="220px" id="img2"></a></div>
    <div><a href="{{ url_for('weijin') }}"><img src="{{ url_for('static',filename='image/trweijin.png') }}" width="240px" height="240px" id="img3"></a></div>
    <div><a href="{{ url_for('songyuan') }}"><img src="{{ url_for('static',filename='image/trsongyuan.png') }}" width="250px" height="250px" id="img4"></a></div>
{% endblock %}